<div class="device-attach-block-holder">
  <div class="holder device-attach-block">
    <span class="center-align universal-block-header">Доступні пристрої</span>
    <div>
      <span ng-repeat="device in floorOne.devicesList" class="device-list" title="{{ device.description }}">
        <i class="fa fa-power-off pull-left device-is-available" ng-class="device.available ? 'device-on' : 'device-off'"></i>
        {{device.title}}
      </span>
    </div>
  </div>
  <div class="holder device-attach-block">
    <span class="center-align universal-block-header">Замітки</span>
    <div ng-if="floorOne.showNoteForm" class="add-note-block">
      <textarea class="input-medium add-note-input" ng-model="floorOne.newNote" type="text"></textarea>
      <button class="btn btn-xs btn-success event-confirm-btn universal-shadow" ng-click="floorOne.memoSave(floorOne.newNote)">
        <i class="fa fa-check-circle" title="Додати"></i>
      </button>
      <button class="btn btn-xs btn-default event-confirm-btn universal-shadow" ng-click="floorOne.showNoteForm = false; floorOne.newNote = ''">
        <i class="fa fa-times-circle" title="Відміна"></i>
      </button>

    </div>
    <div>
      <span ng-repeat="row in floorOne.notesList" class="device-list note-list" ng-mouseover="floorOne.minus=row._id"
            ng-mouseleave="floorOne.minus=false">{{row.message}}
        <i class="fa fa-minus-square pull-right remove-message-minus device-on" ng-click="floorOne.memoRemove(row._id)" ng-if="floorOne.minus===row._id" title="Видалити"></i>
      </span>
    </div>
    <i class="fa fa-plus-square pull-right add-message-plus device-on" ng-click="floorOne.showNoteForm = true" title="Додати"></i>
  </div>
</div>
<div class="holder center-align img-rounded floor-img">
  <span class="center-align universal-block-header">{{floorOne.header}}</span>
  <img class="center-align img-rounded" src="assets/img/1-floor-min.png">
  <device-mark data-value="[0,1,2,3]"></device-mark>
</div>