body {
  background: linear-gradient(to right, #ffffff, #dff0f8, #ffffff);
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.logo-heops {
  background-color: #252519;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0.65;
  margin: 15px auto;
  height: 100px;
  width: 300px;
}

.logo-heops:hover {
  cursor: pointer;
}

.logo-heops img {
  position: relative;
  top: -100px;
  height: 300px;
  width: 300px;
}

.page-body {
  background: linear-gradient(to top, #ffffff, #a9dba9);
  max-width: 960px;
  margin: 0 auto;
}


/********************
      MAIN PAGE
********************/

.main-page-nav-btns .btn {
  border-style: none;
  border-radius: 0;
  margin-bottom: 10px;
}

.main-page-right-column {
  display: inline-block;
  float: right;
  margin: 20px 15px 15px 0;
  height: auto;
  width: 45px;
}

.main-page-right-column i {
  font-size: 16px;

}

.main-page-content-holder {
  display: inline-block;
  position: relative;
  width: 960px;
}

.divider {
  border-top: 2px solid #f7e1b5;
  border-bottom: 2px solid #f7e1b5;
  background: #a2dba2;
  display: block;
  height: 8px;
  width: auto;
}

/********************
    DATA CYKLE PAGE
********************/



/********************
        TABLE
********************/

.datacykle-table {
  max-width: 650px;
  margin: 0 auto;
}

.table-holder {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.datacykle-table-holder {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #f8f8f8;
}

.datacykle-table-body {
  /*line-height: 15px;*/
}

.datacykle-table tbody > tr > td {
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  font-weight: 400;
  vertical-align: middle;
  line-height: 15px;
}

.datacykle-table-icons {
  display: inline-block;
  min-width: 80px;
}

.datacykle-table-icons i {
  display: inline-block;
  font-size: 18px;
  margin: 0 5px;
}

.datacykle-table-icons i:hover {
  cursor: pointer;
}

.page-header.center-align {
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1px;
}

.page-header-bg1 {
  background: url(../assets/img/house-header-background.jpg);
}

.page-header-bg2 {
  background: url(../assets/img/banner_img.jpg);
}

.center-align {
  text-align: center;
  vertical-align: middle;
}

.left-align {
  text-align: left;
  vertical-align: middle;
}

.heops-img {
  width: auto;
  margin: 0 auto 25px;
}

.heops-img img {
  max-width: 800px;
  min-width: 200px;
  width: 100%;
}

.heops-img-block {
  display: inline-block;
  width: auto;
}

.heops-img-description {
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 15px;
}

.holder {
  display: inline-block;
  margin: 20px 0;
}

.page-header a {
  color: #080808;
  text-decoration: none;
  margin-bottom: 0;
}

.floor-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.floor-img .img-rounded {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/********************
    DEVICES BLOCK
********************/

.device-attach-block-holder {
  float: left;
  display: inline-block;
  width: 250px;
}

.device-attach-block-holder i {
  color: forestgreen;
}

.device-attach-block-holder i:hover {
  cursor: pointer;
}


.device-attach-block {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background: #f8f8f8;
  display: block;
  float: left;
  margin: 20px;
  min-height: 60px;
  padding: 0 0 10px;
  height: auto;
  width: 250px;
}

.device-attach-block p:first-child {
  margin: 8px 0;
}

.device-attach-block .device-list {
  display: block;
  list-style: none;
  text-decoration: none;
  text-align: left;
  margin: 0;
  padding: 3px 15px;
}

.device-attach-block .device-list:hover {
  background: #a9dba9;
  cursor: pointer;
}

.device-is-available {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  border-radius: 50%;
  font-size: 18px;
}

.device-is-available:hover {
  cursor: pointer;
}

.device-on {
  color: green;
}

.device-off {
  color: red;
}

.device-unchecked {
  color: darkgrey;
}

.universal-block-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: #f7e1b5;
  display: block;
  padding: 7px 0;
  height: 35px;
}

.remove-message-minus {
  position: relative;
  margin-top: 3px;
  margin-right: -10px;
}

.add-message-plus {
  margin: 5px 12px;
}

.add-note-input {
  margin: 5px;
  width: 230px;
}

.device-list.note-list {
  padding-right: 22px;
  position: relative;
}

/********************
      UI SWITCH
********************/

.switch-holder {
  text-align: center;
  height: 100%;
  width: 100%;
}

.switch-holder {
  padding-top: 5px;
}

.switch {
  zoom: 70%;
}

.switch.checked {
  background-color: forestgreen;
}