<div class="center-block holder">
  <div class="table-holder datacykle-table-holder img-rounded">
    <span class="center-align universal-block-header" ng-click="dataCycle.showOptions=!dataCycle.showOptions">
      {{ dataCycle.header }}
      <button class="btn btn-xs btn-success event-confirm-btn event-create-icon" ng-if="dataCycle.showOptions" ng-click="dataCycle.editEventDialog(event, dataCycle.title.create)">
        <i class="fa fa-plus-circle" title="Створити"></i>
      </button>
      <!--<i class="fa fa-plus-circle event-create-icon" ng-if="dataCycle.showOptions" title="Створити..."></i>-->
    </span>
    <table class="table datacykle-table">
      <thead class="datacykle-table-head">
      <tr>
        <th class="center-align">#</th>
        <th class="center-align col-sm-3">Дата</th>
        <th class="center-align">Опис</th>
        <th class="center-align">Перемикач</th>
        <th class="center-align">Дія</th>
      </tr>
      </thead>
      <tbody class="datacykle-table-body">
      <tr ng-repeat="event in dataCycle.evetsList">
        <td>{{ $index+1 }}</td>
        <td class="col-sm-3">{{ event.updateDate | date }}</td>
        <td class="left-align" title="{{ event.description }}">{{ event.title }}</td>
        <td>
          <div class="switch-holder">
            <switch name="{{ $index+1000 }}" ng-change="dataCycle.changeEventDevicesStatus(event)" ng-model="event.status" class="green"></switch>
          </div>
        </td>
        <td>
          <div class="datacykle-table-icons">
            <i class="fa fa-pencil-square-o" ng-click="dataCycle.editEventDialog(event, dataCycle.title.edit)" title="Редагувати"></i>
            <i class="fa fa-trash-o" ng-click="dataCycle.removeEventDialog(event)" title="Видалити"></i>
            <button class="btn btn-xs btn-success event-confirm-btn universal-shadow" ng-if="dataCycle.changedDevices.length && dataCycle.activeEvent._id===event._id" ng-click="dataCycle.saveUpdatedData(event)">
              <i class="fa fa-check-circle" title="Підтвердити зміни"></i>
            </button>
            <button class="btn btn-xs btn-default event-confirm-btn universal-shadow" ng-if="dataCycle.changedDevices.length && dataCycle.activeEvent._id===event._id" ng-click="dataCycle.cancelEdit()">
              <i class="fa fa-times-circle" title="Відмінити зміни"></i>
            </button>
          </div>
        </td>
      <tr>
      </tbody>
    </table>
  </div>
</div>